*{box-sizing: border-box;}
p,h1,h2,h3,h4,h5,h6,ul,ol,dl,li,form,table,a,div,img{
	margin:0;
	padding:0;
}
ul{
	list-style: none;
}
a{
	text-decoration: none;
}
.clearfix:before,.clearfix:after{display: block; content: ""}
.clearfix:after{clear:both;}
body{
	background-color: #f7efef;
}
nav .crumb {
    display: inline-block;
  }
  .crumb a::after {
    display: inline-block;
    color: #2a3bd6;
    content: '>';
    font-size: 80%;
    font-weight: bold;
    padding: 0 10px;
  }
header{
	width: 1250px;
	margin:0 auto;
	position: relative;
	padding-top:16px;
}
.shopping-cart-content,
.checkout-button {
  display: none; /* 默认不显示 */
  position:relative; /* 绝对定位，可以根据需要调整位置 */
  z-index: 10;
  width: 500px;
}
header .img1{
	position: absolute;
	left: 56px;
}
header .nav1{	
	position: absolute;
	left:950px;
	border-radius:5px;
	padding:0 5px;
	background-color:#86b2e9;
	width: 300px;
	display: flex;
	z-index: 5;
}
header .nav1 li{
	width: 100%;
	color:#f4ebda;
	line-height: 27px;
	text-align: center;
}
header .nav1 li:hover{
	background-color: rgba(58, 62, 66, 0.5);
	border-radius: 5px;
}
header .nav1 li .cart:hover .shopping-cart-content,
header .nav1 li .cart:hover .checkout-button{
  display: block; /* 显示内容 */
  /* 这里可以添加其他样式，如背景颜色、边框等 */
  color: #0c0600;
  border: 1px solid gray;
  border-radius: 5px;
  background-color: #f1ecef;
  width: 150px;
  height: auto;
}
header .nav1 li:hover a{
	color: rgb(228, 233, 235);
}
header .nav1 li a{
	display: inline-block;
	margin:0 16px;
	font-size: 14px;
	line-height:27px;
	color:#113142;
	display: block;
}
header .nav2{
	width: 100%;
	margin: 20px auto;
	height: 50px;
	background-color: #4373d3;
	background-size: 1250px 88px;
	display:flex;
}
header .nav2 li{
	width: 145px;
	text-align:center;
	line-height: 50px;
	width: 100%;
}
header .nav2 li:hover{
	background-color: rgba(0,0,0,0.3);
}
header .nav2 li a{
	display: inline-block;
	line-height: 49px;
	font-size: 16px;
	color: #f7ecf4;
}
header .nav2 li a:hover{
	color:lightgray;
}
.section2{
	width: 1500px;
	margin:0 auto;
	margin-top: 45px;
}
content{
	width: 713px;
}
content h1{
	font-size: 20px;
	padding: 0 20px;
}
content img{
	display: block;
	margin: 0 auto;
	margin-left: 20px;
	z-index: 1;
}
content img.hr_bg{
	margin-top: 3px;
	margin-bottom: 15px;
	width: 1200px;
	height: 5px;
}
content .goods{
	list-style: none;
	margin-left: 100px;
	margin-bottom: 30px;
}
content .goods li{
	float:left;
}
content .goods li img{
	width: 240px;
	height:250px;
	border:1px solid #e7dfd4;
	margin-right: 30px;
	position: relative;
	z-index: 1;
}
content .goods li p{
	font-size: 15px;
	color:#31252f;
	font-weight: bold;
	text-align: left;
	text-align: center;
	width: 240px;
}
content ul li .a1{
	text-decoration: none;
	font-weight: bold;;
	width: 240px;
	color: #0888f8;
	transition: 0.2s linear;
    text-align: center;
}
content ul li .a2{
	font-weight: bold;
	text-decoration: none;
	color: #fda326;
	transition: 0.2s linear;
}
content .goods li p .a2:hover{
	color: #ca5f86;
}
content h1:nth-of-type(2){
	margin-top: 50px;
}
content .kind{
	padding:9px 0 17px 0;
	width: 713px;
	border:1px solid #e7e1d3;
	background-color: #f7f1e5;
	margin-top: 52px;
}
content .kind img.fly{
	margin:28px 30px 0 32px;
	float:left;
	display: block;
}
content .kind .type{
	list-style: none;
	margin-bottom: 17px;
}
content .kind .line{
	width: 4px;
	height: 16px;
	float:left;
	margin-right: 5px;
}
content .kind .type li{
	float:left;
	margin-right: 0px;
}
content .kind .type li .type_kind{
	width: 184px;
	height: 137px;
	border:1px solid #e5e2d9;
	margin-right: 4px;
	margin-top: 5px;
} 
content .kind .type li p:nth-of-type(1){
	font-size: 14px;
	color: #0c0600;
	margin-top: -3px;
}
content .kind .type li p:nth-of-type(2){
	font-size: 11px;
	font-weight:bold;
	color:#383045;
	text-align: center;
	border:1px solid #e5dfd3;
	border-top: 0px;
	width: 184px;
	padding: 10px 0 12px 0;
}
content .kind .type li p:nth-of-type(2) span{
	color: #ca5f86;
}
